//Import Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

body {
  font-size: 15px;
}
.logo {
  margin: 20px 0;
}

.search-box {
  .form-control {
    &:focus {
      box-shadow: none;
      -moz-box-shadow: inset 0 0 0.2rem rgba(0, 123, 255, 0.25);
      -webkit-box-shadow: inset 0 0 0.2rem rgba(0, 123, 255, 0.25);
      box-shadow: inset 0 0 0.2rem rgba(0, 123, 255, 0.25);
      border-color: var(--blue);
    }

    &::-webkit-input-placeholder {
      color: #ccc;
    }
    &::-moz-placeholder {
      color: #ccc;
    }
    &:-ms-input-placeholder {
      color: #ccc;
    }
  }

  .btn-outline-primary {
    width: 110px;
    &:hover {
      .spinner-border {
        color: #fff !important;
      }
    }
    &:focus {
      box-shadow: none;
    }
    &:active {
      &:focus {
        box-shadow: none;
      }
    }
    &:not(:disabled) {
      &:not(.disabled) {
        &:active {
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}
h6 {
  font-size: 17px;
}
.emp-name {
  padding: 0 0 5px;
}

ul {
  margin-bottom: 25px;
}
